<div class="special clearfix" ng-show="bcnjs.special">
	<div class="special-next clearfix">
		<div class="calendar">
			<div class="day">{{bcnjs.date | date:'d'}}</div>
			<div class="month">{{bcnjs.date | date:'MMMM'}}</div>
		</div>
		<div class="special-content">
			<h3 ng-bind-html-unsafe="bcnjs.special.header"></h3>
			<p ng-bind-html-unsafe="bcnjs.special.content"></p>
		</div>
	</div>
</div>

<div class="next" ng-hide="bcnjs.special">
		<div class="calendar">
			<div class="day">{{bcnjs.date | date:'d'}}</div>
			<div class="month">{{bcnjs.date | date:'MMMM'}}</div>
		</div>
	<div class="next-sub">18.45 - 21.15<br>C/ de Fontanella, 2<br>Barcelona</div>
</div>

<section class="talks clearfix">
	<article class="talk" ng-class="{'empty':!talk.presenter}" ng-repeat="talk in bcnjs.talks">
		<hgroup>
			<h3>{{talk.title}}</h3>
			<h5 ng-show="talk.presenter">
				<a href="https://twitter.com/{{talk.presenter.username}}">{{talk.presenter.displayname}} (@{{talk.presenter.username}})</a>
			</h5>
		</hgroup>
		<p>
			<markdown ng-model="talk.description"></markdown>
		</p>
	</article>
</section>

<section class="sponsors clearfix">
	<div class="sponsor">
		<p>An event presented by:</p>
		<a class="imagelink" href="http://www.mobileworldcentre.com"><img src="/images/28033361.mwc.png" alt="Mobile World Center"></a>
	</div>
	<div class="sponsor">
		<p>With bevereges sponsored by:</p>
		<a class="imagelink" href="http://www.estrelladamm.com"><img src="/images/35e57042.estrella.png" alt="estrella"></a>
	</div>
</section>

<div class="meta clearfix">
	<div class="metabox"><h4>beer.js</h4>At the Gran Foc, C/ Roger de Llúria, 23. After the meetup</div>
	<div class="metabox"><h4>more.js</h4>
		<a href="https://twitter.com/bcnjs" id="twitter" class="social"><span>@bcnjs</span></a>
		<a href="https://plus.google.com/communities/115705669406517039298" id="google" class="social"><span>Google+</span></a>
		<a href="/BarcelonaJS.ics" id="calendar" class="social"><span>Calendar</span></a>
	</div>
	<div class="metabox"><h4>collaborate.js</h4>
		<a href="http://barcelona.io" id="barcelonaio" class="collaborator"><span>BarcelonaIO</span></a>
		<a href="http://www.mob-barcelona.com" id="mob" class="collaborator"><span>MOB</span></a>
	</div>
</div>