<div class="next-event-speaker">
  <img src="assets/picture_test.png" class="speaker-picture" alt="">
  <span class="speaker-name">{{speaker.name}}</span>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
</div>
