	<footer class="footer">
		<div class="container">
			<section class="about">
				<h3>BarcelonaJS</h3>
				<p>Barcelona.JS is a usergroup focused on JavaScript and related topics. We meet regularly at the Mobile World Centre, C/ de Fontanella, 2 in Barcelona.</p>
			</section>
			<section class="social">
				<h3>Follow Us</h3>
				<a href="https://twitter.com/bcnjs" id="twitter" class="social-link"><i class="fa fa-twitter fa-3x"></i></a>
				<a href="https://plus.google.com/communities/115705669406517039298" id="gplus" class="social-link"><i class="fa fa-google-plus-square fa-3x"></i></a>
				<a href="/BarcelonaJS.ics" id="cal" class="social-link"><i class="fa fa-calendar fa-3x"></i></a>
				<a id="gh" href="https://github.com/barcelona-js" class="social-link"><i class="fa fa-github fa-3x"></i></a>
			</section>
			<section class="links">
				<h3>Links</h3>
				<ul>
					<li><a href="/history">Event History</a></li>
					<li><a href="/about">About BarcelonaJS</a></li>
					<li><a href="/code">Code of Conduct</a></li>
				</ul>
			</section>
			<section class="footer-meta">
				<h3>Meta</h3>
				<p>Build with <i class="fa fa-heart"></i> in Barcelona. By Patrick Heneise and Jean-Carlos Menino</p>
				<p>Hosted on GitHub Pages. See the code on <a href="https://github.com/barcelona-js/barcelonajs.org">Github.</a></p>
			</section>
		</div>
	</footer>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37507281-1', 'barcelonajs.org');
  ga('send', 'pageview');
	</script>
</body>
</html>