    </div>
    <div class="footer-container">
      <footer class="wrapper">
        <div class="clearfix">
          <div class="footerbox">Barcelona.JS is a usergroup focused on JavaScript and related topics. We meet regularly on the second Tuesday each month at 18.45 at the Mobile World Centre, C/ de Fontanella, 2 in Barcelona.</div>

          <div class="footerbox">Hosted on GitHub Pages.<br />See the code on <a href="https://github.com/barcelona-js/barcelonajs.org">Github.</a></div>
          <div class="footerbox">Barcelona.JS is organized by <a href="http://www.twitter.com/PatrickHeneise">Patrick Heneise</a> and<br /><a href="http://www.twitter.com/eth0lo">Jean Carlos Meninno.</a><br />Logo and design by <a href="http://www.daroga.es">Dácil Rosales</a></div>
        </div>
      </footer>
    </div>

    <script src="scripts/2013.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37507281-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>