<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{{site-title}}}</title>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="//use.typekit.net/mqp5ibc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {{#stylesheet_bundle}}/assets/all.css{{/stylesheet_bundle}} 
</head>

<body>
  <header>
      <div class="header">
        <div class="logo"></div>
        <h1 class="header-text">BarcelonaJS</h1>
      </div>
  </header>

  <nav>
    <ul class="navigation">
        <li>
            <a href="">Previous Events</a>
        </li>
        <li>
            <a href="">Code of Conduct</a>
        </li>
        <li>
            <a href="#/about">Information</a>
        </li>
    </ul>
  </nav>