<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{{site-title}}}</title>
		<meta name="viewport" content="width=device-width">
		<script type="text/javascript" src="//use.typekit.net/mqp5ibc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<link rel="stylesheet" type="text/css" media="screen" href="/assets/all.css">
</head>

<body>
	<header>
			<div class="header">
				<div class="logo"></div>
				<h1 class="header-text">BarcelonaJS</h1>
			</div>
	</header>
	<nav>
			<ul class="navigation">
					<li>
							<a href="">Previous Events</a>
					</li>
					<li>
							<a href="">Code of Conduct</a>
					</li>
					<li>
							<a href="#/about">Information</a>
					</li>
			</ul>
	</nav>

	<div role="main">
		<section id="next-event" class="next-event">
			<div class="next-event-date">
					Next Event: December 12, 2013 at 19:00
			</div>
		</section>

		<section id="next-event-speakers" class="next-event-speakers">
			{{#events}}
				{{> event }}
			{{/events}}
		</section>

		<section class="sponsors">
			<div class="sponsor">
				<p>An event presented by:</p>
				<a class="imagelink" href="http://www.mobileworldcentre.com"><img src="/assets/mwc.png" alt="Mobile World Centre" /></a>
			</div>
			<div class="sponsor">
				<p>With beverages sponsored by:</p>
				<a class="imagelink" href="http://www.estrelladamm.com"><img src="/assets/estrella.png" alt="estrella" /></a>
			</div>
		</section>

		<section class="additional">
			<div class="location">
				<h2>Event Location</h2>
				<div class="map">
						<iframe width="100%" height="500px" frameBorder="0" src='https://a.tiles.mapbox.com/v3/bcnjs.gnm5ha8k/mm/zoompan,geocoder,share.html?secure=1#17/41.38731/2.17180'></iframe>
				</div>
			</div>
			<div class="social">
			</div>
		</section>

		<section class="teams">
			<h2>BarcelonaJS</h2>
			{{#team}}
			<div class="member">
				<img src="{{portrait}}" class="team-picture" alt="{{name}}">
				<h4 class="team-name"><a href="http://twitter.com/{{twitter}}">{{name}}</a></h4>
			</div>
			{{/team}}
		</section>
	</div>
</body>
</html>
