{{> header}}

	<div role="main">
<!--
		<section id="next-event" class="next-event">
			<div class="next-event-date">
				Next Event: March 13. 19.15 - 21.30. Mobile World Centre, C/ de Fontanella, 2 Barcelona
			</div>
		</section>
-->

		<div class="jumbotron">
			<div class="container small">
				<h1>Announcement</h1>
				<p>The Barcelona JS group at meetup.com started as project from BeMyApp which is an event company located in France. Since the original organizer move back to France, the group stayed without any representative in Barcelona, so we (the core team) started to create the monthly event as we know it today.</p>

				<p>The philosophy of barcelonajs.org has always been to be an open source and community driven group; and since this did not match the  interests of BeMyApp as a company, we decided to part ways in different directions.</p>
				
				<p>This means that we (barcelonajs.org) have absolute NO control over what happens inside the group of meetup.com, if you have enjoyed our monthly sessions, we recommend you to <a href="http://barcelonajs.us7.list-manage2.com/subscribe?u=208acbe299e4546647e398502&id=7892003b40">subscribe to our mailing list</a>, which will consist in one time monthly email, that will serve as a reminder of our sessions, and news related to JS in general.</p>
				
				<p>If you have any question regarding this issue, feel free to contact us through twitter or at info at barcelonajs.org</p>
			</div>
		</div>
<hr>

		<div class="jumbotron">
			<div class="container small">
				<h1>Aviso</h1>
				<p>El grupo de Barcelona JS dentro de meetup.com comenzó como un proyecto de BeMyApp, empresa francesa dedicada a la organización de eventos. Pero desde que el organizador regresó a Francia, el grupo se quedo sin ningún representante en Barcelona que lo organizase. Por esa razón, nosotros (el equipo principal) empezamos a organizar y a coordinar los eventos mensuales como se conocen hoy en día.</p>
				
				<p>La filosofía de barcelonajs.org siempre ha sido ser un grupo "open source" para la comunidad  por la comunidad, y como ello no coincide con los intereses empresariales de BeMyApp, hemos decidido seguir caminos distintos de ahora en adelante.</p>
				
				<p>Esto significa que, desde nosotros (barcelonajs.org) NO tenemos absolutamente nada que ver con los eventos que se lleven a cabo dentro del grupo de Meetup.com. Es por ello que si habéis disfrutado de  nuestras sesiones mensuales, te recomendamos que te <a href="http://barcelonajs.us7.list-manage2.com/subscribe?u=208acbe299e4546647e398502&id=7892003b40">suscribas a nuestro mailing list</a>, el cual consistirá en un único email mensual, que servirá como recordatorio de nuestras sesiones, además de proporcionar notícias relacionadas con JS en general.<p>
				
				<p>Si tienes alguna pregunta, no dudes en escribirnos a nuestra cuenta de twitter o correo electronico info at barcelonajs.org</p>
			</div>
		</div>
		
		<section class="events">
			{{#events}}
				{{> event }}
			{{/events}}
		</section>

		<section class="sponsors">
			<div class="sponsor">
				<p>An event presented by:</p>
				<a class="imagelink" href="http://www.mobileworldcentre.com"><img src="assets/mwc.png" alt="Mobile World Centre" /></a>
			</div>
			<div class="sponsor">
				<p>With beverages sponsored by:</p>
				<a class="imagelink" href="http://www.estrelladamm.com"><img src="assets/estrella.png" alt="estrella" /></a>
			</div>
		</section>

		<section class="additional">
			<div class="location">
				<h2>Event Location</h2>
				<div class="map">
						<iframe width="100%" height="500px" frameBorder="0" src='https://a.tiles.mapbox.com/v3/bcnjs.gnm5ha8k/mm/zoompan,geocoder,share.html?secure=1#17/41.38731/2.17180'></iframe>
				</div>
			</div>
			<div class="mailing">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="http://barcelonajs.us7.list-manage.com/subscribe/post?u=208acbe299e4546647e398502&amp;id=7892003b40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" role="form" class="validate" target="_blank" novalidate>
					<h2>Subscribe to our mailing list</h2>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="form-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
					<input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
				</div>
				<div class="form-group">
					<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME">
				</div>
				<div class="form-group">
					<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
				</label>
					<input type="text" value="" name="LNAME" class="form-control required" id="mce-LNAME">
				</div>
				<div class="form-group">
					<label for="mce-MMERGE3">JavaScript Level  <span class="asterisk">*</span>
				</label>
					<select name="MMERGE3" class="form-control required" id="mce-MMERGE3">
					<option value=""></option>
					<option value="Beginner">Beginner</option>
				<option value="Advanced">Advanced</option>
				<option value="Expert">Expert</option>
				
					</select>
				</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_208acbe299e4546647e398502_7892003b40" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				</div>
				
				<!--End mc_embed_signup-->
			</div>
		</section>
	</div>


{{> footer}}