<section id="next-event" class="next-event">
    <div class="next-event-date">
        Next Event: December 12, 2013 at 19:00
    </div>
</section>
<section id="next-event-speakers" class="next-event-speakers">
  <div class="next-event-speaker">
    <img src="assets/picture_test.png" class="speaker-picture" alt="">
    <span class="speaker-name">Jane Doe</span>
    <h3>Free slot</h3>
    <p>**This slot could be yours! Submit your talk now.**  You did some crazy stuff with JavaScript? You want to show it to the community?\nDrop us a line on your topic on [Twitter](https://twitter.com/bcnjs) or to [Google+](https://plus.google.com/u/0/communities/115705669406517039298).</p>
  </div>

  <div class="next-event-speaker empty">
    <img src="assets/picture_test.png" class="speaker-picture" alt="">
    <span class="speaker-name">Jane Doe</span>
    <h3>title</h3>
    <p>Dolor scratched cras nec catnip egestas chase the red dot, aliquam amet elit et sleep in the sink tail flick. I don't like that food pellentesque tempus amet meow tristique, nullam sleep on your face lick neque</p>
  </div>
</section>

<section class="sponsors">
  <div class="sponsor">
    <p>An event presented by:</p>
    <a class="imagelink" href="http://www.mobileworldcentre.com"><img src="/assets/mwc.png" alt="Mobile World Centre" /></a>
  </div>
  <div class="sponsor">
    <p>With beverages sponsored by:</p>
    <a class="imagelink" href="http://www.estrelladamm.com"><img src="/assets/estrella.png" alt="estrella" /></a>
  </div>
</section>

<section class="additional">
  <div class="location">
    <h2>Event Location</h2>
    <div class="map">

        <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/bcnjs.gnm5ha8k/mm/zoompan,geocoder,share.html?secure=1#17/41.38731/2.17180'></iframe>
    </div>
  </div>
  <div class="social">
  </div>
</section>

<section class="teams">
  <h2>BarcelonaJS</h2>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Patrick Heneise">
    <h4 class="team-name"><a href="http://twitter.com/PatrickHeneise">Patrick Heneise</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Jean-Carlos Meninno">
    <h4 class="team-name"><a href="http://twitter.com/eth0lo">Jean-Carlos Meninno</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Isabel Cabezas">
    <h4 class="team-name"><a href="http://twitter.com/IsabelCabezas">Isabel Cabezas</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Sergi Gimeno">
    <h4 class="team-name"><a href="http://twitter.com/?">Sergi Gimeno</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Jose Roya">
    <h4 class="team-name"><a href="http://twitter.com/?">Jose Roya</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Valentijn Broekhuizen">
    <h4 class="team-name"><a href="http://twitter.com/?">Valentijn Broekhuizen</a></h4>
  </div>
  <div class="member">
    <img src="assets/picture_test.png" class="team-picture" alt="Alina Mierlus">
    <h4 class="team-name"><a href="http://twitter.com/?">Alina Mierlus</a></h4>
  </div>
</section>